body{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: regular;
	font-size: 1.7em;
	line-height: 1.1;
	margin: 0;
	overflow-x: hidden;
	color:#3D3535;
}

.header{
	font size: 1.7em;
}

.light{
	font-weight: bolder;
}

.green{
	width:100vw;
	height:250vh;
	background-color: #11472D;
}

.title{
	margin-left:4.4vw;
	padding-top: 4.7vw;
	width:61vw;
	font-size:4vw;
	color: #D1C895;
	line-height: 1.3;
	animation:color 2s infinite;
}

@keyframes color{
	0%{
		color:#D1C895;
	}
	50%{
		color:#D19D17;
	}
	100%{
		color:#D1C895;
	}
}

.square{
	position: absolute;
	width:2vw;
	height:2vw;
	margin-left: 80vw;
	margin-top:-7vw;
	background-color: #D19D17;
	grid-column-start: 5;
	grid-column-end: 6;
	animation: size 1.5s infinite;
}

@keyframes size{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}

.list{
	position: absolute;
	margin-left: 83.5vw;
	margin-top:-8vw;
	color: #D1C895;
	font-size: 1.4vw;
	line-height: 1.2;
	opacity: 0;
	transition: opacity 1s;
}

.line1{
	position: absolute;
	background-color: #D19D17;
	width:20vw;
	height:0.4vw;
	margin-top:2vw;
}

@keyframes fade-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.content1{
	width:60vw;
	height: 40vw;
	background-color: #D19D17;
	margin-left: 20vw;
	margin-top:2vw;
	animation:content1 2s infinite;
}

@keyframes content1{
	0%{
		margin-left: 20vw;
	}
	50%{
		margin-left:19.5vw; 
	}
	100%{
		margin-left:20vw;
	}
}

.p1{
	padding-top:7vw;
	margin-left: 10vw;
	margin-right: 9vw;
	opacity: 0;
	transition: opacity 1s;
}

.p1.show {
	opacity: 1;
}

.p2{
	position: absolute;
	padding-top: 5vw;
	width:23vw;
	margin-left:29vw;
	opacity: 0;
	transition: opacity 1s;
}

.p2.show{
	opacity: 1;
}

.p3{
	position: absolute;
	margin-top:10vw;
	margin-left:29vw;
	width:23vw;
	opacity: 0;
	transition: opacity 1s;
}

@keyframes move{
	0%{
		margin-left:100vw;
	}
	100%{
		margin-right:85vw;
	}
}

.food{
	text-align: center;
	margin-top:3vw;
	opacity: 0;
}

.food:hover{
	opacity: 1;
}

.circle1{
	position: absolute;
	width:8vw;
	height:8vw;
	border-radius: 50%;
	background-color: #E4CE95;
	margin-left:85vw;
	margin-top:-37vw;
	animation: move 2s ease-out;
	animation-fill-mode: forwards;
}

.circle2{
	position: absolute;
	width:8vw;
	height:8vw;
	border-radius: 50%;
	background-color: #E4CE95;
	margin-left:85vw;
	margin-top:-23.5vw;
	animation: move 2s ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

.circle3{
	position: absolute;
	width:8vw;
	height:8vw;
	border-radius: 50%;
	background-color: #E4CE95;
	margin-left:85vw;
	margin-top:-10vw;
	animation: move 2s ease-out;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}

.orange{
	margin-top: 27.5vw;
	background-color: #EFB257;
	width:100vw;
	height: 180vh;
}

@keyframes content2{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.04);
	}
	100%{
		transform: scale(1);
	}
}

.content2{
	position: absolute;
	width: 65vw;
	height:65vw;
	border-radius: 50%;
	background-color: #9E2E2E;
	margin-top:-24vw;
	margin-left:-11vw;
	animation:content2 2s infinite;
}

#container2{
	opacity: 0;
	transition: opacity 1s;
}

.p4{
	color: #E4CE95;
	padding-top:13vw;
	width:23vw;
	margin-left:20vw;
}

.p5{
	color: #E4CE95;
	padding-top:2vw;
	width:23vw;
	margin-left:20vw;
}

.content2_line{
	position: absolute;
	width: 67vw;
	height:67vw;
	border-radius: 50%;
	border: 2px solid #D06666;
	background-color: transparent;
	margin-top: -25vw;
	margin-left:-12vw;
}

.content3{
	position: absolute;
	width:80vw;
	height:80vw;
	border-radius: 50%;
	background-color: #D39898;
	margin-left:45vw;
	margin-top:-13vw;
	/*animation:size2 2s infinite;*/
}

@keyframes size2{
	0%{
		transform: scale(1.04);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.04);
	}
}

.circle4{
	width:20vw;
	height: 20vw;
	border-radius: 50%;
	background-color: #B14458;
	margin-left:15vw;
	margin-top:13vw;
	animation:c4 2s infinite;
}

@keyframes c4{
	0%{
		transform: scale(1.1);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.1);
	}
}

.p6{
	width:30vw;
	margin-left:9vw;
	margin-top:7vw;
	opacity: 0;
	transition: opacity 1s;
}

.p7{
	width:35vw;
	margin-left:9vw;
	margin-top: 2vw;
	opacity: 0;
	transition: opacity 1s;
}

.square2{
	position: absolute;
	width:9vw;
	height:9vw;
	background-color: #497D88;
	margin-left:10vw;
	margin-top:18vw;
	animation: square2 2s infinite;
}

@keyframes square2{
	0%{
		margin-left:10vw;
		width:9vw;
		height:9vw;
		margin-top: 18vw;
	}
	50%{
		margin-left:10vw;
		width:15vw;
		height:4vw;
		margin-top: 22vw;
	}
	100%{
		margin-left:10vw;
		width:9vw;
		height:9vw;
		margin-top: 18vw;
	}
}

.sentence1{
	width:78vw;
	height:11vw;
	background-color: #52A490;
	margin-left:-35vw;
	margin-top:4vw;
	animation:s1 2s infinite;
}

@keyframes s1{
	0%{
		transform: scale(0.93);
		margin-left:-37.2vw;
	}
	50%{
		transform: scale(1);
		margin-left:-35vw;
	}
	100%{
		transform: scale(0.93);
		margin-left:-37.2vw;
	}
}


.s1{
	font-size: 2vw;
	width:55vw;
	padding-top:2.5vw;
	margin-left: 12vw;
	opacity: 0;
	transition: opacity 1s;
}

.food2{
	text-align: center;
	padding-top:8vw;
	opacity: 0;
}

.food2:hover{
	opacity: 1;
}

.content4{
	position: absolute;
	width:40vw;
	height:140vw;
	background-color: #475E2C;
	margin-top:-35vw;
	animation:stretch 2s infinite;
}


@keyframes stretch{
	0%{
		width:40vw;
	}
	50%{
		width:41vw;
	}
	100%{
		width:40vw;
	}
}

.food3{
	text-align: center;
	padding-top:2vw;
	opacity: 0;
}

.food3:hover{
	opacity: 1;
}

.square3{
	position: absolute;
	width:6vw;
	height:6vw;
	background-color: #C3D06F;
	margin-left:30vw;
	margin-top: 4vw;
	animation: s3 2s infinite;
}

@keyframes s3{
	0%{
		margin-left:30vw;
		border-radius: 0%;
		background-color: #C3D06F;
	}
	50%{
		margin-left:53vw;
		border-radius: 50%;
		background-color: #ED8016;
	}
	100%{
		margin-left:30vw;
		border-radius: 0%;
		background-color: #C3D06F;
	}
}

.container4{
	width: 25vw;
	margin-left:7vw;
	padding-top:14vw;
}

.p8{
	color:#E4CE95;
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p9{
	color:#E4CE95;
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p10{
	color:#E4CE95;
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p11{
	color:#E4CE95;
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.circle5{
	background-color: #A73B3B;
	width:11vw;
	height:11vw;
	border-radius: 50%;
	margin-top:3vw;
	margin-left:-10vw;
}

.food4{
	margin-left: 6vw;
	padding-top:4vw;
	opacity: 0;
}

.food4:hover{
	opacity: 1;
}

.pink{
	position: absolute;
	margin-top:-12vw;
	width:100vw;
	height:430vh;
	background-color: #E1A5A5;
}

.content5{
	width:33vw;
	height: 93vw;
	background-color: #3D3535;
	margin-left:67vw;
	margin-top:-100vw;
	animation:stretch2 2s infinite;

}

@keyframes stretch2{
	0%{
		width:34vw;
		margin-left:66vw;
	}
	50%{
		width:35vw;
		margin-left:65vw;
	}
	100%{
		width:34vw;
		margin-left:66vw;
	}
}

.container5{
	width:20vw;
	margin-left:5vw;
	padding-top:17vw;
	color:#D1C895;
}

.circle6{
	position: absolute;
	width:30vw;
	height:30vw;
	border-radius: 50%;
	background-color: #A73B3B;
	margin-top:-30vw;
	margin-left: -10vw;
	animation: circle6 2s infinite;
}

@keyframes circle6{
	0%{
		margin-left: -10vw;
	}
	50%{
		margin-left: -16vw;
	}
	100%{
		margin-left: -10vw;
	}
}

.s2{
	color: #E4CE95;
	position: absolute;
	width:23vw;
	margin-left:4.5vw;
	padding-top:12vw;
	font-size:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.p12{
	color: #E4CE95;
	opacity: 0;
	transition: opacity 1s;
}


.p13{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p14{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p15{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p16{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p17{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p18{
	padding-bottom: 1.5vw;
	opacity: 0;
	transition: opacity 1s;
}

.p19{
	opacity: 0;
	transition: opacity 1s;
}

.container6{
	position: absolute;
	margin-top:-15vw;
	width:99vw;
	height:110vw;
	overflow-y: hidden;
}

.content6{
	position: absolute;
	width:120vw;
	height:120vw;
	border-radius: 50%;
	background-color: #B3CADF;
	margin-left:-45vw;
	margin-top: 9vw;
}

.content6_line{
	width:122vw;
	height: 122vw;
	border-radius: 50%;
	background-color: transparent;
	border:3px solid #548AB8;
	margin-left:-46vw;
	margin-top:6vw;
}

.p20{
	width:30vw;
	margin-left:54vw;
	padding-top:18vw;
	opacity: 0;
	transition: opacity 1s;
}

.p21{
	width:32vw;
	margin-left:54vw;
	padding-top:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.p22{
	width:40vw;
	margin-left:54vw;
	padding-top:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.p23{
	width:50vw;
	margin-left:54vw;
	padding-top:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.p24{
	width:50vw;
	margin-left:54vw;
	padding-top:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.circle7{
	position: absolute;
	background-color: #E4CE95;
	width: 24vw;
	height:24vw;
	border-radius: 50%;
	margin-left:72vw;
	margin-top:-9vw;
	animation: c7 10s infinite;
}

@keyframes c7{
	0%{
		margin-left:72vw;
		margin-top:-9vw;
	}
	50%{
		margin-left:100vw;
		margin-top:18vw;
	}
	100%{
		margin-left:72vw;
		margin-top:-9vw;
	}
}

.s3{
	position: absolute;
	width:16vw;
	margin-left:5vw;
	padding-top:6vw;
	font-size:2vw;
	opacity: 0;
	transition: opacity 1s;
}

.citation{
	font-size: 1.2vw;
	position: absolute;
	width:21vw;
	margin-left:122vw;
	color: white;
	margin-top:-1vw;
}

.title2{
	position: absolute;
	color: white;
	line-height: 1.3;
	font-size:1.5vw;
}
